

  <div class="container">
    <h3 class="mb-3">Ferrari 488 GTB – Sport Levels</h3>

    <table class="table table-bordered table-striped table-hover text-center">
      <thead class="table-dark">
        <tr>
          <th>Specification</th>
          <th>Base</th>
          <th>Sport</th>
          <th>Track</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Make</td>
          <td>Ferrari</td>
          <td>Ferrari</td>
          <td>Ferrari</td>
        </tr>
        <tr>
          <td>Model</td>
          <td>488 GTB</td>
          <td>488 GTB</td>
          <td>488 GTB</td>
        </tr>
        <tr>
          <td>Engine</td>
          <td>3.9L V8 Twin-Turbo</td>
          <td>3.9L V8 Twin-Turbo</td>
          <td>3.9L V8 Twin-Turbo</td>
        </tr>
        <tr>
          <td>Horsepower</td>
          <td>661 hp</td>
          <td>670 hp</td>
          <td>680 hp</td>
        </tr>
        <tr>
          <td>Suspension</td>
          <td>Standard</td>
          <td>Sport-Tuned</td>
          <td>Track-Optimized</td>
        </tr>
        <tr>
          <td>Brakes</td>
          <td>Carbon-Ceramic</td>
          <td>Upgraded Carbon-Ceramic</td>
          <td>Track Carbon-Ceramic</td>
        </tr>
        <tr>
          <td>Driving Mode</td>
          <td>Comfort / Sport</td>
          <td>Sport / Race</td>
          <td>Race / CT-Off</td>
        </tr>
      </tbody>
    </table>
  </div>

